* {

}
body {

}

.page-wrapper {
    display: flex;
    flex-direction: column;
}
.header-main {
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    /*justify-content: flex-end;*/
    flex-wrap: wrap;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 260px;
    list-style: none;
}
h1 {
    flex-grow: 1;
    /*justify-content: flex-start;*/
}

.alert-info.hidden-on-desktop {
    display: none;
}
@media screen and (max-width: 600px) {
    .nav-links {
        flex-direction:column;
    }
    .alert-info.hidden-on-desktop {
        display: block;
    }
}
